html, body{
  background-color: beige;
  color: brown;
}

.bordes{
  border: 2px ridge brown;
}

.container, input{
  background-color: beige;
}

input {
    text-align: right;
}

form input:focus {
    outline: outset 3px chocolate;
}

td, th {
  text-align: center;
  padding: 0;
}
.glyphicon{
    font-size: 1.3em;
    text-align: center;
    margin: auto;
    padding-top: 0.4em;
    background-color: transparent;
    border: 0;
}

.glyphicon-trash{
  margin-left: 0.4em;
  color: red;
}

.glyphicon-pencil{
    margin-left: 0.4em;
    color: green;
}

.glyphicon-search {
    position: relative;
    top: -.2em;
}

.botones{
    font-size: 1.5em;
    width: 6em;
    background-color: #006dcc;
    border: solid 2px transparent;
}

.botones:hover{
    background-color: #188aed;
    border: solid 2px transparent;
}

#volverBusqueda {
    background-color: beige;
    color: brown;
    border: solid 2px brown;
}

#alerta {
    font-size: 5em;
    color: darkred;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}
#ejemplo {
    width: 30%;
    margin: 1.5em auto;
    padding: .5em;
    border-radius: .7em;
    color: bisque;
}

#confirmar, #denegar {
    width: 5em;
    margin: 0 1em;
}


#modalWindow {
    position: fixed;
    top: 6.5em;
    background-color: beige;
    border-radius: .5em;
    width: 90%;
    margin: 0 5%!important;
    border: double 3px brown;
}
#modalCloser {
    background-color: #32c932!important;
    margin: .7em 0 2em;
}

#simbologia, #alerta {
    width: 85%;
}

#searchBox {
  padding: .5em;
  margin-top: .5em;
  color: brown!important;
}
#tipoBusqueda{
  margin: 0 1em 0 2em;
}

form input {
    float: right;
    margin: 0;
    margin-right: 1em;
}
form label {
    float: left;
    margin: 0;
    margin-left: 1em;
}
fieldset {
    clear: both;
}
#marca::-webkit-calendar-picker-indicator { /*Elimina el icono para desplegar la lista de sugerencias del input*/
  display: none;
}
#color::-webkit-calendar-picker-indicator {
  display: none;
}

.required:after {
    content: " *";
    color: red;
}
tfoot {
    background-color: #ddc6ab;
    opacity: .6;
}
#paginas {
    display: inline-block;
    background-color: beige;
    margin: 0 auto;
    border-radius: .3em;
    text-align: center;
    padding: 0 0 .2em;
}

.controlPage {
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    color: brown;
    font-size: 1.2em;
}

#controlInicio, #controlFinal {
    margin-top: -1em;
}

.paginaIcon {
    background-color: transparent;
    border: 0;
    position: relative;
    width: 2em;
    top: -.15em;
    margin: 0 .1em;
}

.currentPage {
    background-color: brown;
    color: beige;
    font-weight: bold;
    border-radius: .3em;
}

#paginador {
    float: left;
    width: 4.5em;
}

#printButton {
    float: left;
    margin: .3em 0 0 .9em;
    background-color: brown;
    color: beige;
    border: 0;
    border-radius: .1em;
}

#selectorPagina {
    padding: .2em;
    background-color: beige;
    border-radius: .2em;
}

table {
    outline: ridge 2px brown;
    outline-offset: .95em;
    padding: 0!important;
    margin: 0 0 2em!important;
}

td {
    width: 12em;
}
tbody td:nth-child(6) {
    text-align: right;
    padding-right: 3em!important;
}
tbody td:nth-child(4) {
    text-align: right;
    padding-right: 2em!important;
}
tbody td:nth-child(6):after {
    content: " €";
}
tbody td:nth-child(4):after {
    content: " Kms.";
}

th {
    background-color: #ddc6ab;
    width: 1em;
    opacity: .6;
}
th:last-child {
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    #tipoBusqueda, #valorBusqueda {
    min-width: 80%!important;
    margin: 0 0 0 8%!important;
    }
    #modalWindow {
    top: 1em;
    }
    #modalWindow .glyphicon-remove-circle {
      left: 0;
      top: -.2em;
      font-size: 3em;
    }
    #ejemplo {
      width: 80%;
    }
    th:nth-child(4), th:nth-child(5), td:nth-child(4), td:nth-child(5) {
        display: none;
    }
    tbody td:nth-child(6) {
        text-align: right;
        padding-right: 0!important;
    }
}